<h1>
	This is the secret page.
</h1>

<p>
	Hey There!!!
</p>

<img src="https://images.unsplash.com/photo-1542090519-7952b6451b60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>